@import './normalize.css';


body {
    background-color: #F3F7F8;
    font-size: 16px;
}

.container {
    width: 1600px;
    padding: 0 150px;
}

/*header styles*/
.header {
    background-color: #4C73E3;
    height: fit-content;
    padding: 0 150px;
}

.navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navigation__list {
    display: flex;
    height: 100%;
    gap: 10px;
}

.navigation__list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 71px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 0 20px;
    width: fit-content;
    text-decoration: none;
}

.navigation__list--item.active {
    background-color: #88A4F5;
}

.navigation__title {
    font-size: 1.125em;
    font-weight: normal;
 
}

.white__dot {
    width: 31px;
    height: 31px;
    background-color: white;
    border-radius: 50%; 
    display: inline-block; 
}

/*main*/
.main__title {
    font-size: 2.25em;
    font-weight: normal;
    color: #4C73E3;
    margin-top: 48px;
    margin-bottom: 56px;
}

.vacancy {
    width: 1300px;
}

.vacancy__list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.vacancy__list--item {
    padding: 16px 28px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

/* Хедер вакансии с датой и кнопкой редактировать */

.vacancy__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vacancy__date {
    color: #4F4F55;
    font-size: 0.875em;
    line-height: 16.8px;
    opacity: 0.6;
    margin-bottom: 28px;
}

.vacancy__edit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.vacancy__edit--icon {
    width: 24px;
    height: 24px;
}

/* Название вакансии */

.vacancy__inner--title {
    font-weight: 700;
    font-size: 25px;
    color: #4F4F55;
    margin-bottom: 12px;
}

/* Расположение вакансии */

.vacancy__location {
    display: flex;
    align-items: center ;
    gap: 5px;
}

.vacancy__location-icon {
    width: 20px;
    height: 20px;
  }

.vacancy__address {
    font-size: 1em;
    line-height: 19.2px;
    opacity: 0.8;
    color: #4F4F55;
    width: fit-content;
    text-wrap: nowrap;
}

/* О вакансии: зп, опыт, метро */

.vacancy__info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }

 /* Детали о вакансии  */

.vacancy__details {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .vacancy__salary strong {
    font-size: 1.25em;
    line-height: 24px;
    font-weight: 700;
    color: #4C73E3;
  }
  
  .vacancy__experience strong {
    font-size: 1em;
    line-height: 16px;
    font-weight: 700;
    color: #4C73E3;
  }

  .vacancy__text {
    font-size: 0.875em;
    line-height: 16.8px;
    margin: 5px 0;
    margin-right: 5px;
    width: fit-content;
  }

 /* Метро  */

  .vacancy__metro {
    display: flex;
    align-items: center;
    gap: 5px;   
  }

.vacancy__metro--text {
    font-weight: 400;
    line-height: 19.2px;
    color: #4F4F55;
    opacity: 0.8;
}

/* страница формы */

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 32px;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 16px;
}

.input__group {
    display: flex;
    gap: 40px;
}

.input__group.criteria {
    flex-direction: column;
}

.input__group.radio {
    gap: 60px;
}

.input__item {
    display: flex;
    flex-direction: column;
    width: 275px;
  }

.input__item.criteria {
    width: 100%;
}

.input__label {
    font-weight: 600;
    font-size: 0.875em;
    line-height: 16.94px;
    margin-bottom: 8px;
}

.input__field {
    border: 1px solid #DEE4F0;
    border-radius: 16px;
    padding: 12px 20px;
    transition: border-color 0.3s ease;
    outline: none;
}

.input__field.criteria {
    height: 100px;
    width: 100%;
    resize: none;
}

.input__field.criteria::placeholder {
    color: #DCDCDC;
}

/* дата  */

.input__date {
    width: 100%;
}

.input__date::placeholder {
    color: #DCDCDC;
  }

.input__date::-webkit-datetime-edit {
    color: #DCDCDC;
}

.input__date::-moz-placeholder {
    color: #DCDCDC;
}

/* селект */

.input__field.select {
    appearance: none;
    background-image: url('/src/assets/icons/Swich.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px 0;
    padding-left: 20px;
}

.input__field:focus {
    border-color:  #4C73E3;
    outline: none;
}

.input__field.select.placeholder {
    color: #DCDCDC;
}

.input__field option {
    color: #000;
}

/* выбор пола */

.input__item.radio {
    width: fit-content;
}

.gender__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
  
  .gender__option {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    color: #4F4F55;
    cursor: pointer;
    gap: 8px;
  }
  
  .gender__option input {
    display: none;
  }
  
  .custom-radio {
    width: 20px;
    height: 20px;
    border: 1px solid #4C73E3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
  }
  
  .gender__option input:checked + .custom-radio {
    background-color: #4C73E3;
    box-shadow: inset 0 0 0 4px #ffffff;
  }

 
  .input__item.conditions#address {
    width: 420px;
  }

@media (min-width: 1600px) {
  .vacancy {
    width: 1600px;
  }

  .input__container {
    width: 1600px;
  }
}