@import './normalize.css';


@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/src/assets/fonts/PFDinTextCondProWoff2/PFDinTextCondPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/src/assets/fonts/PFDinTextCondProWoff2/PFDinTextCondPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Не тот */
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('/src/assets/fonts/OpenSansHebrewWoff2/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/InterWoff2/18pt/Inter18pt-ExtraBold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/InterWoff2/18pt/Inter18pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/InterWoff2/18pt/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/InterWoff2/18pt/Inter18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/InterWoff2/18pt/Inter18pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




body {
    background-color: #F3F7F8;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    /* тест */
    padding: 0 75px;
}

/*header styles*/
.header {
    background-color: #4C73E3;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* тест */
    padding: 0 150px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.navigation__list {
    display: flex;
    height: 100%;
    gap: 10px;
}

.navigation__list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 71px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 0 20px;
    width: fit-content;
    text-decoration: none;
}

.navigation__list--item.active {
    background-color: #88A4F5;
}

.navigation__title {
    font-family: 'OpenSansHebrew';
    font-size: 1.125em;
    font-weight: normal; 
}

.white__dot {
    width: 31px;
    height: 31px;
    background-color: white;
    border-radius: 50%; 
    display: inline-block; 
}

/*main*/
.main__title {
    font-family: "Inter";
    font-size: 2.25em;
    font-weight: normal;
    color: #4C73E3;
    margin-top: 48px;
    margin-bottom: 56px;
}

.main__title--underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-underline-offset: 8px;
    color: #4C73E3;
}  

/* ширина списка вакансий */
.vacancy {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.vacancy__list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.vacancy__list--item {
    padding: 16px 28px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

/* Хедер вакансии с датой и кнопкой редактировать */

.vacancy__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vacancy__date {
    font-family: "Inter";
    font-weight: normal;
    color: #4F4F55;
    font-size: 0.875em;
    line-height: 16.8px;
    opacity: 0.6;
    margin-bottom: 28px;
}

.vacancy__edit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.vacancy__edit--icon {
    width: 24px;
    height: 24px;
}

/* Название вакансии */

.vacancy__inner--title {
    font-family: "Inter";
    font-weight: bold;
    font-size: 25px;
    color: #4F4F55;
    margin-bottom: 12px;
}

/* Расположение вакансии */

.vacancy__location {
    display: flex;
    align-items: center ;
    gap: 5px;
}

.vacancy__location-icon {
    width: 20px;
    height: 20px;
  }

.vacancy__address {
    font-family: "PF Din Text Cond Pro";
    font-weight: normal;
    font-size: 1em;
    line-height: 19.2px;
    opacity: 0.8;
    color: #4F4F55;
    width: fit-content;
    text-wrap: nowrap;
}

/* О вакансии: зп, опыт, метро */

.vacancy__info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }

 /* Детали о вакансии  */

.vacancy__details {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.vacancy__salary strong {
    font-family: "PF Din Text Cond Pro";
    font-size: 1.25em;
    line-height: 24px;
    font-weight: bold;
    color: #4C73E3;
}
  
.vacancy__experience strong {
    font-family: "PF Din Text Cond Pro";
    font-weight: bold;
    font-size: 1em;
    line-height: 16px;
    color: #4C73E3;
}

.vacancy__text {
    font-family: "PF Din Text Cond Pro";
    font-weight: normal;
    font-size: 0.875em;
    line-height: 16.8px;
    margin: 5px 0;
    margin-right: 5px;
    width: fit-content;
}

 /* Метро  */

.vacancy__metro {
    display: flex;
    align-items: center;
    gap: 5px;   
}

.vacancy__metro--text {
    font-family: "PF Din Text Cond Pro";
    font-weight: normal;
    line-height: 19.2px;
    color: #4F4F55;
    opacity: 0.8;
}

/* страница формы */

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 32px;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 16px;
}

.input__group {
    display: flex;
    gap: 40px;
}

.input__group.criteria {
    flex-direction: column;
}

.input__group.radio {
    gap: 60px;
}

.input__group.conditions.salary {
    flex-direction: column;
    gap: 16px;
}

.input__item {
    display: flex;
    flex-direction: column;
    width: 275px;
  }

.input__item.salary {
    font-family: "Inter";
    width: 100px;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    color: #4F4F55;
    gap: 7px
}

.input__item.criteria {
    width: 100%;
}

.input__label {
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.875em;
    line-height: 16.94px;
    margin-bottom: 8px;
}

.input__field {
    font-family: "Inter";
    font-weight: 300;
    border: 1px solid #DEE4F0;
    border-radius: 16px;
    padding: 12px 20px;
    transition: border-color 0.3s ease;
    outline: none;
}

.input__field:hover {
    box-shadow: 0px 0px 3px 1px #35A500B2;
    outline: none;
}

.input__field:focus {
    box-shadow: none;
}


.input__field.criteria {
    height: 100px;
    width: 100%;
    resize: none;
}

.input__field.salary {
    width: 100px;
}

.input__field.criteria::placeholder {
    color: #DCDCDC;
}

/* .input__field.list {
    list-style: disc;
    padding-left: 20px;
}

.input__field .list__item {
    margin-left: 20px;
    color: #4F4F55;
    line-height: 19.36px;
    font-weight: 300;
} */

/* дата  */

/* Общие стили для инпута */
.input__date {
    width: 100%;
}

input[type="date"].placeholder {
    color: #DCDCDC;
}

input[type="date"]:not(.placeholder):valid {
    color: #000;
}


/* селект */

.input__field.select {
    appearance: none;
    background-image: url('/src/assets/icons/Swich.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px 0;
    padding-left: 20px;
}

.input__field:focus {
    border-color:  #4C73E3;
    outline: none;
}

.input__field.select.placeholder {
    color: #DCDCDC;
}

.input__field option {
    color: #000;
}

/* выбор пола */

.input__item.radio {
    width: fit-content;
}

.radio__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio__container.salary {
    flex-direction: row;
}
  
.radio__option {
    font-family: "Inter";
    font-weight: 300;
    font-size: 16px;
    line-height: 19.36px;
    display: flex;
    align-items: center;
    color: #4F4F55;
    cursor: pointer;
    gap: 8px;
}
  
.radio__option input {
    display: none;
}
  
.custom__radio {
    width: 20px;
    height: 20px;
    border: 1px solid #4C73E3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.custom__radio:hover {
    box-shadow: 0px 0px 3px 1px #35A50080;
}
  
.radio__option input:checked + .custom__radio {
    background-color: #4C73E3;
    box-shadow: inset 0 0 0 4px #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 
.input__item.conditions.address {
    width: 420px;
}
.input__field.conditions#address {
    width: 420px;
}

/* ошибка */

.input__field.input__error {
    outline: 1px solid red;
}

.input__field.input__error:hover {
    outline: none;
}

.error__message {
    font-family: "Inter";
    color: red;
    font-size: 0.875em;
    margin-top: 4px;
    font-weight: normal;
}

.error__message.gender {
    margin-left: 8px;
    margin-top: 16px;
}

.error__message.employment {
    margin-left: 8px;
    margin-top: 16px;
}

.required__star {
    /* font-family: Inter; */
    color: red;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;

}

.form__submit {
    font-family: "Inter";
    font-weight: bolder;
    color: white;
    background-color: #4C73E3;
    border: 1px solid #4C73E3;
    padding: 16px;
    border-radius: 26px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 106px;
    font-size: 15px;
    line-height: 18.15px;
    transition: all ease 0.3s
}

.form__submit:hover {
    color: white;
    background-color: #88A7FF;
    border-color: #88A7FF;
}


.form__reset {
    font-family: "Inter"; 
    color: #4C73E3;
    background-color: transparent;
    border: 1px solid #4C73E3;
    padding: 16px;
    border-radius: 26px;
    width: 250px;
    font-weight: bolder;
    font-size: 15px;
    line-height: 18.15px;
    transition: all ease 0.3s
}

.form__reset:hover {
    color: #88A7FF;
    border-color: #88A7FF;
    background-color: white;
}